<p id="notice"><%= notice %></p>

<p>
  <strong>Uuid:</strong>
  <%= @controller_skeleton_test.uuid %>
</p>

<p>
  <strong>Name:</strong>
  <%= @controller_skeleton_test.name %>
</p>

<p>
  <strong>Age:</strong>
  <%= @controller_skeleton_test.age %>
</p>

<%= link_to 'Edit', edit_controller_skeleton_test_path(@controller_skeleton_test) %> |
<%= link_to 'Back', controller_skeleton_tests_path %>
